<?xml version='1.0' encoding='UTF-8'?>
<plugin id="cordova-plugin-ios-microphone-permissions" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>iOS Permissions</name>
    <author>pinchnzoom</author>
    <description>Cordova / PhoneGap Plugin Permission Settings for NSMicrophoneUsageDescription in iOS 10 by adding a declaration to the Info.plist file</description>
    <keywords>cordova, ios, app, security, permissions, nsmicrophoneusagedescription</keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
    <platform name="ios">
      <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
          <string>$MICROPHONE_USAGE_DESCRIPTION</string>
      </config-file>
    </platform>
</plugin>
